.field-header {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 18px;
  font-size: 12px;
  padding:5px;
  width: 430px;
}
.field {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  margin-top: 8px;
  font-size: 12px;
  padding:5px;
  width: 430px;
}
