<h1>Workspace</h1>

<div style="display: flex; flex-direction: row; justify-content: stretch; height: 100%;" cdkDropListGroup>
  <div style="width: 520px; position: relative; z-index: 1000">
    <p-tabView [(activeIndex)]="tabindex">
      <p-tabPanel header="Tables">
      <app-table-selection [AvailableTables]="AvailableTables"></app-table-selection>
      </p-tabPanel>
      <p-tabPanel header="Fields">
        <app-field-selected ></app-field-selected>
      </p-tabPanel>
      <p-tabPanel header="Filters">

        <app-filter></app-filter>
        <app-having></app-having>

      </p-tabPanel>

    </p-tabView>
  </div>
  <div style="flex: 1 0 auto">
  <p-tabView [(activeIndex)]="viewindex" [style]="{'width': '100%'}">
    <p-tabPanel header="Query Designer" >

          <div cdkDropListGroup style="min-width: 400px;" >
            <app-table
              *ngFor="let t of getTables()"
              [Table]="t"
              (onScroll)="tablechanged(t)"
              (onTableChange)="TableChanged($event)"
              style="position: absolute;"
            ></app-table>


          </div>


    </p-tabPanel>
    <p-tabPanel header="Data preview" class="datapreview">
     <app-data-preview></app-data-preview>
    </p-tabPanel>
    <p-tabPanel header="Export">
      <app-data-export></app-data-export>

    </p-tabPanel>
    <p-tabPanel header="Import">
      <app-data-import></app-data-import>

    </p-tabPanel>
    <p-tabPanel header="Report">
      <app-report></app-report>

    </p-tabPanel>
  </p-tabView>
</div>
</div>



<div *ngIf="viewindex==0"  style="position: absolute;  top:0px; left:0px;  width: 100vw; height: 100vh;">
<app-tjoin *ngFor="let j of ws.Joins" [join]="j"></app-tjoin>

<app-join-icons></app-join-icons>
</div>

<p-dialog [visible]="viewLogin" [modal]="true" [style]="{width: '600px', height: '50vh'}">
  <ng-template pTemplate="header">
    Database login
  </ng-template>

  <app-dblogin (Login)="this.auth = $event"></app-dblogin>

</p-dialog>
